*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
html::-webkit-scrollbar{
    width: 5px;
}

html::-webkit-scrollbar-track{
    background-color: #131313;
}

html::-webkit-scrollbar-thumb{
    background-color: #0004ff;
}

body{
    width: 100%;
}

.navbar{
    background: #3c3e4dbe;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}


.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__link{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height:  100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__link:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

.menu_btn i{
    color: #020202;
    font-size: 22px;
    cursor: pointer;
    padding-top: 30px;
    padding-right: 30px;
    display: none;
}

/*Hero Section Css*/
.main{
    background-color: #141414;
    
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    
    width: 100%;
    max-width: 1300%;
    padding: 0 50px;
}

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color:  #fff;
    text-decoration:  none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;
    
}

#main__img{
    height: 60%;
    width: 60%;
    border-radius: 40%;
    transition: all 0.5s ease-in;
}

#main__img:hover{
    border-radius: 50%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

.commands{
    /* background: #141414; */
    background-image: url(image/bg.gif);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.commands h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff867a 0% #ff8c7f 21% #f99185 52%, #cf556c 70%, #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.commands__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.commands__card{
    margin: 1rem;
    height: 70%;
    padding: 0px 40px 0px 0px;
    width: 30.1%;
    border-radius: 10px;
    /* background-image: linear-gradient(to bottom, rgba(0 ,0 ,0 , 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/image/gg.png'); */
    background-size: 10%;
    background-color: #190c92a8;
    position: relative;
    color: #000000;
    transition: all 1s ease;
}

.commands__card:nth-child(2){
    /* background-image: linear-gradient(to bottom, rgba(0 , 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/image/gg1.png'); */
}

.commands__card:nth-child(3){
    /* background-image: linear-gradient(to bottom, rgba(0 , 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/image/unknown.png'); */
}

.commands h2{
    position: absolute;
    top: 350px;
    left: 30px;
}

.commands__card:hover{
    transform: scale(1.25);
    
    cursor: pointer;
    
}

@media screen and (max-width: 960px) {
    .commands{
        height: 1600px;
    }

    .commands h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .commands {
        height: 100%;
    }

    .commands h1{
        font-size: 1.2rem;
    }

    .commands__card{
        width: 300px;
    }
}

.footer__container{
    background-color: #3d3d3d;
    padding: 50px 20px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.website__right{
    color: #ffffff;
}

.Footer__link{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%
}

.Footer__link:hover{
    color: #a0038b;
    transition: all 0.3s ease;
}

.roundthecorners{
    border-radius: 25px;
}

.aboutnoty{
    font-size: 20px;
    /* background-color: #0004ff; */
    margin: 00px 50px 50px 50px;
    border-radius: 25px;
    color: #ffffff;
    text-shadow: 3px 3px #020202;
}
.aboutnoty h1{
    font-size: 40px;
    margin: 50px 0px 0px 0px;
    /* color: #0004ff; */
    background-color: #0004ff;
    text-shadow: #020202 0px 0px;
    
}

#preloader{
    background: #000000 url("image/preloader4.gif") no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
.features{
    display: flex;
    flex-direction: row;
    width: 80vw;
    /* border: 20px 20px; */
    /* border-color: #8c00ff; */
    height: 75vh;
    background-color: #2d2d337c;
    margin: 75px 50px 50px 50px;
    border-radius: 50px;
    transition: all 0.5s ease-out;
}
.features:hover{
    display: flex;
    flex-direction: row;
    width: 80vw;
    border: 20px 20px;
    border-color: #8c00ff;
    height: 75vh;
    background-color: #2222247c;
    margin: 75px 50px 50px 50px;
    border-radius: 50px;
    
}

.feature_Image{
    border-radius: 25px;
    transform: scale(1.25);
    transition: all 0.5s ease-out;
    margin: 25px 200px 0px 0px;
}

.feature_Image_left{
    border-radius: 25px;
    margin: 25px 100px 0px 100px;
    transform: scale(1.25);
    transition: all 0.5s ease-out;
    /* padding-left: 5%; */
}

.feature_Image:hover{
    border-radius: 25px;
    transform: scale(1.5);
    margin: 25px 200px 0px 0px;
}

.feature_Image_left:hover{
    border-radius: 25px;
    transform: scale(1.5);
    margin: 25px 100px 0px 100px;
    /* padding-left: 5%; */
}

.aboutnoty_left{
    font-size: 20px;
    /* background-color: #0004ff; */
    margin: 100px 100px 10px 50px;
    border-radius: 25px;
    color: #ffffff;
    text-shadow: 3px 3px #020202;
}

.aboutnoty_left h1{
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    /* color: #0004ff; */
    background-color: #0004ff;
    text-shadow: #020202 0px 0px;
    
}

.aboutmsnoty{
    font-size: 20px;
    /* background-color: #0004ff; */
    margin: 10px 10px 100px 10px;
    border-radius: 25px;
    color: #ffffff;
    text-shadow: 0px 0px #020202;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Page_End{
    padding: 3% 3% 3% 3%;
    background-color: #0004ff;
    border-radius: 50%;
}

.Page_End_h{
    padding: 5% 1% 1% 1%;
    background-color: #0004ff;
    border-radius: 50%;
}

@media screen and (max-width: 945px) {
    /* Nav Bar */
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 15px auto;
        transition: all 0.3s ease ease-in-out;
        background: #fff;
    }

    .navbar__item{
       
        width: 100%;
        padding-top: 10px;
    }

    .navbar__link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(-8px) rotate(-45deg);
    }
    /*Hero Section Css*/
    .main{
        background-color: #141414;
        
    }

    .main__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 100vh;
        background-color: #141414;
        z-index: 1;
        
        width: 100%;
        max-width: 1300%;
        padding: 0 50px;
    }

    .main__content h1{
        font-size: 2rem;
        background-color: #ff8177;
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
    }

    .main__btn{
        font-size: 1rem;
        background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
        padding: 14px 32px;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }

    .main__btn a{
        position: relative;
        z-index: 2;
        color:  #fff;
        text-decoration:  none;
    }

    .main__btn:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #4837ff;
        transition: all 0.35s;
        border-radius: 4px;
    }

    .main__btn:hover {
        color: #fff;
    }

    .main__btn:hover:after{
        width: 100%;
    }

    .main__img--container{
        text-align: center;
        
    }

    #main__img{
        height: 60%;
        width: 60%;
        border-radius: 40%;
        transition: all 0.5s ease-in;
    }

    #main__img:hover{
        border-radius: 50%;
    }
    .commands{
        /* background: #141414; */
        background-image: url(image/bg.gif);
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .commands h1{
        background-color: #ff8177;
        background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff867a 0% #ff8c7f 21% #f99185 52%, #cf556c 70%, #b12a5b 100%);
        background-size: 100%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .commands__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .commands__card{
        margin: 1rem;
        height: 40%;
        padding: 0px 50% 0px 0px;
        transform: scale(0.75);
        width: 10.1%;
        border-radius: 10px;
        /* background-image: linear-gradient(to bottom, rgba(0 ,0 ,0 , 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/image/gg.png'); */
        background-size: 0%;
        background-color: #190c92a8;
        position: relative;
        color: #000000;
        transition: all 1s ease;
    }
    
    
    
    .commands h2{
        position: absolute;
        top: 350px;
        left: 30px;
    }
    
    .commands__card:hover{
        transform: scale(1);
        
        cursor: pointer;
        
    }

    .footer__container{
        background-color: #3d3d3d;
        padding: 50px 20px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .website__right{
        color: #ffffff;
    }
    
    .Footer__link{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        height: 100%
    }
    
    .Footer__link:hover{
        color: #a0038b;
        transition: all 0.3s ease;
    }
    
    .roundthecorners{
        border-radius: 25px;
    }
    
    .aboutnoty{
        font-size: 20px;
        /* background-color: #0004ff; */
        margin: 00px 50px 50px 50px;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 3px 3px #020202;
    }
    .aboutnoty h1{
        font-size: 40px;
        margin: 50px 0px 0px 0px;
        /* color: #0004ff; */
        background-color: #0004ff;
        text-shadow: #020202 0px 0px;
        
    }
    
    #preloader{
        background: #000000 url("image/preloader4.gif") no-repeat center center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        z-index: 100;
    }
    .features{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 50vh;
        background-color: #2d2d337c;
        margin: 75px 50px 50px 50px;
        border-radius: 50px;
        transition: all 0.5s ease-out;
    }
    .features:hover{
        display: flex;
        flex-direction: row;
        width: 80%;
        border: 20px 20px;
        border-color: #8c00ff;
        height: 50vh;
        background-color: #2222247c;
        margin: 75px 50px 50px 50px;
        border-radius: 50px;
        
    }
    
    .feature_Image{
        border-radius: 25px;
        transform: scale(.75);
        transition: all 0.5s ease-out;
        margin: -50px 0px 0px -70px;
    }
    
    .feature_Image_left{
        border-radius: 25px;
        margin: -50px 0px 0px 0px;
        transform: scale(.75);
        transition: all 0.5s ease-out;
        /* padding-left: 5%; */
    }
    
    .feature_Image:hover{
        border-radius: 25px;
        transform: scale(.75);
        margin: -50px 0px 0px -70px;
    }
    
    .feature_Image_left:hover{
        border-radius: 25px;
        transform: scale(.75);
        margin: -50px 0px 0px 0px;
        /* padding-left: 5%; */
    }
    
    .aboutnoty_left{
        font-size: 80%;
        /* background-color: #0004ff; */
        margin: 10px 100px 10px 10px;
        width: 20vw;
        height: 50vh;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 3px 3px #020202;
    }
    
    .aboutnoty_left h1{
        font-size: 25px;
        width: 50vw;
        margin: 0px 0px 0px 0px;
        /* color: #0004ff; */
        background-color: #0004ff;
        text-shadow: #020202 0px 0px;
        
    }
    
    .aboutmsnoty{
        font-size: 20px;
        background-color: #0004ff;
        margin: 0px 0px 00px 0px;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 0px 0px #020202;
    }
    .aboutnoty h1{
        font-size: 25px;
        width: 10vw;
        margin: 0px 0px 0px 0px;
        /* color: #0004ff; */
        background-color: #0004ff;
        text-shadow: #020202 0px 0px;
        
    }
    .menu_btn i{
        color: #020202;
        font-size: 22px;
        cursor: pointer;
        padding-top: 30px;
        padding-right: 30px;
        display: block;
    }
    .Page_End{
        padding: 3% 3% 3% 3%;
        background-color: #0004ff;
        border-radius: 50%;
    }
    
    .Page_End_h{
        padding: 5% 1% 1% 1%;
        background-color: #0004ff;
        border-radius: 50%;
    }
}
@media screen and (max-width: 790px) {
    /* Nav Bar */
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 15px auto;
        transition: all 0.3s ease ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
        padding-top: 10px;
    }

    .navbar__link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(-8px) rotate(-45deg);
    }
    /*Hero Section Css*/
    .main{
        background-color: #141414;
        
    }

    .main__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 100vh;
        background-color: #141414;
        z-index: 1;
        
        width: 100%;
        max-width: 1300%;
        padding: 0 50px;
    }

    .main__content h1{
        font-size: 2rem;
        background-color: #ff8177;
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
    }

    .main__btn{
        font-size: 1rem;
        background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
        padding: 14px 32px;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }

    .main__btn a{
        position: relative;
        z-index: 2;
        color:  #fff;
        text-decoration:  none;
    }

    .main__btn:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #4837ff;
        transition: all 0.35s;
        border-radius: 4px;
    }

    .main__btn:hover {
        color: #fff;
    }

    .main__btn:hover:after{
        width: 100%;
    }

    .main__img--container{
        text-align: center;
        
    }

    #main__img{
        height: 60%;
        width: 60%;
        border-radius: 40%;
        transition: all 0.5s ease-in;
    }

    #main__img:hover{
        border-radius: 50%;
    }
    .commands{
        /* background: #141414; */
        background-image: url(image/bg.gif);
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .commands h1{
        background-color: #ff8177;
        background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff867a 0% #ff8c7f 21% #f99185 52%, #cf556c 70%, #b12a5b 100%);
        background-size: 100%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .commands__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .commands__card{
        margin: 1rem;
        height: 40%;
        padding: 0px 50% 0px 0px;
        transform: scale(0.75);
        width: 10.1%;
        border-radius: 10px;
        /* background-image: linear-gradient(to bottom, rgba(0 ,0 ,0 , 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/image/gg.png'); */
        background-size: 0%;
        background-color: #190c92a8;
        position: relative;
        color: #000000;
        transition: all 1s ease;
    }
    
    
    
    .commands h2{
        position: absolute;
        top: 350px;
        left: 30px;
    }
    
    .commands__card:hover{
        transform: scale(1);
        
        cursor: pointer;
        
    }

    .footer__container{
        background-color: #3d3d3d;
        padding: 50px 20px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .website__right{
        color: #ffffff;
    }
    
    .Footer__link{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        height: 100%
    }
    
    .Footer__link:hover{
        color: #a0038b;
        transition: all 0.3s ease;
    }
    
    .roundthecorners{
        border-radius: 25px;
    }
    
    .aboutnoty{
        font-size: 10px;
        /* background-color: #0004ff; */
        margin: 00px 50px 50px 50px;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 3px 3px #020202;
    }
    .aboutnoty h1{
        font-size: 40px;
        margin: 50px 0px 0px 0px;
        /* color: #0004ff; */
        background-color: #0004ff;
        text-shadow: #020202 0px 0px;
        
    }
    
    #preloader{
        background: #000000 url("image/preloader4.gif") no-repeat center center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        z-index: 100;
    }
    .features{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50vh;
        background-color: #2d2d337c;
        margin: 75px 50px 50px 50px;
        margin-top: 10rem;
        border-radius: 50px;
        transition: all 0.5s ease-out;
    }
    .features:hover{
        display: flex;
        flex-direction: column;
        width: 80%;
        border: 20px 20px;
        border-color: #8c00ff;
        height: 50vh;
        background-color: #2222247c;
        margin: 75px 50px 50px 50px;
        margin-top: 10rem;
        border-radius: 50px;
        
    }
    
    .feature_Image{
        border-radius: 25px;
        transform: scale(.75);
        transition: all 0.5s ease-out;
        margin: -50px 0px 0px 10%;
    }
    
    .feature_Image_left{
        border-radius: 25px;
        margin: -25% 0px 0px 0px;
        transform: scale(.75);
        transition: all 0.5s ease-out;
        /* padding-left: 5%; */
    }
    
    .feature_Image:hover{
        border-radius: 25px;
        transform: scale(.75);
        margin: -50px 0px 0px 10%;
    }
    
    .feature_Image_left:hover{
        border-radius: 25px;
        transform: scale(.75);
        margin: -25% 0px 0px 0px;
        /* padding-left: 5%; */
    }
    
    .aboutnoty_left{
        font-size: 80%;
        /* background-color: #0004ff; */
        margin: -50px 00px 00px 10%;
        margin-top: -20%;
        width: 60vw;
        height: 50vh;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 3px 3px #020202;
    }
    
    .aboutnoty_left h1{
        font-size: 25px;
        width: 50vw;
        margin-bottom: -3%;
        /* color: #0004ff; */
        /* background-color: #0004ff; */
        text-shadow: #020202 0px 0px;
        
    }
    
    .aboutmsnoty{
        font-size: 10px;
        /* background-color: #0004ff; */
        margin: 0px 0px 00px 0px;
        border-radius: 25px;
        color: #ffffff;
        text-shadow: 0px 0px #020202;
    }
    .aboutnoty h1{
        font-size: 15px;
        width: 10vw;
        margin: 0px 0px 0px 0px;
        /* color: #0004ff; */
        /* background-color: #0004ff; */
        text-shadow: #020202 0px 0px;
        
    }

    .menu_btn i{
        color: #020202;
        font-size: 22px;
        cursor: pointer;
        padding-top: 30px;
        padding-right: 30px;
        display: block;
    }
    
    .Page_End{
        padding: 3% 3% 3% 3%;
        background-color: #0004ff;
        border-radius: 50%;
    }
    
    .Page_End_h{
        padding: 5% 1% 1% 1%;
        background-color: #0004ff;
        border-radius: 50%;
    }
}